body {
  background-color: aliceblue;
  font-family: "Sedan", serif;
}

.Weather .enter-city {
  font-size: 18px;
  background-color: rgb(187, 187, 187);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}
.Weather .search-city {
  font-size: 18px;
  background-color: rgb(88, 86, 86);
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}
.Weather form {
  border-bottom: 1px solid grey;
  padding: 0 0 30px 0;
}
.Weather .current-info {
  display: flex;
  margin-top: 20px;
}
.Weather h1 {
  font-size: 40px;
  font-weight: bold;
}
.Weather .current-time-date li {
  font-size: 18px;
  list-style-type: none;
  margin-left: -30px;
  line-height: 20px;
}

.Weather .current-temp {
  font-size: 80px;
  margin-top: -35px;
}
.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -34px;
}

.Weather .extra-info {
  font-size: 18px;
  font-style: italic;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0px;
  margin: 20px 0;
  border-bottom: 1px solid grey;
}
@media (max-width: 600px) {
  .Weather h1 {
    font-size: 25px;
  }
  .Weather .current-temp {
    font-size: 50px;
    margin-left: 5px;
  }
  .Weather .unit {
    font-size: 14px;
    position: relative;
    top: -24px;
  }
  .Weather .extra-info {
    font-size: 14px;
  }
  .Weather .enter-city {
    font-size: 14px;
    padding: 12px 18px;
  }
  .Weather .search-city {
    font-size: 14px;
    padding: 12px 20px;
    margin-left: -15px;
  }
  .Weather form {
    padding: 0 0 20px 0;
  }
}
